/* RESET */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* BODY */

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #0e0e0e;
    color: #eee;
}


/* HEADER */

header {
    background: #000;
    border-bottom: 3px solid red;
    padding: 20px;
    text-align: center;
}

header h1 {
    color: red;
    letter-spacing: 2px;
}

header img {
    display: block;
    margin: 15px auto;
    border-radius: 50%;
    border: 3px solid red;
}


/* NAV */

nav {
    margin-top: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    color: red;
}


/* SECTIONS */

section {
    background: #1a1a1a;
    margin: 20px auto;
    padding: 25px;
    border-radius: 8px;
    max-width: 1100px;
}

section h2 {
    color: red;
    margin-bottom: 10px;
    text-transform: uppercase;
}


/* HOME */

#home p {
    font-size: 18px;
}


/* TABLES */

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

table th {
    background: red;
    color: white;
}

table td,
table th {
    border: 1px solid #444;
    padding: 10px;
    text-align: center;
}

table img {
    border-radius: 8px;
}


/* FORM */

form {
    max-width: 1100px;
    margin: 20px auto;
    background: #111;
    padding: 30px;
    border-radius: 10px;
    border: 1px solid red;
}

form label {
    font-weight: bold;
}

form input,
form select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    background: #222;
    color: white;
    border: 1px solid #555;
    border-radius: 10px;
}

form input:focus,
form select:focus {
    outline: none;
    border-color: red;
}


/* RADIO & CHECKBOX */

input[type="radio"],
input[type="checkbox"] {
    width: auto;
    margin-right: 5px;
}


/* BUTTON */

button {
    background: red;
    color: white;
    border: none;
    padding: 12px;
    width: 100%;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background: darkred;
}


/* FOOTER */

footer {
    background: #000;
    border-top: 3px solid red;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
}


/* RESPONSIVE */

@media (max-width: 768px) {
    nav a {
        display: block;
        margin: 10px 0;
    }
    table img {
        width: 100px;
        height: auto;
    }
    section {
        margin: 10px;
    }
}